body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    margin: 20px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    min-height: 150px; 
}

.header-text {
    text-align: center;
    flex-grow: 1;
}

.header-text h1 {
    font-size: 24px;
    margin: 5px 0;
}

.header-text h2 {
    font-size: 20px;
    margin: 5px 0;
}

.header-text p {
    font-size: 18px;
    margin: 5px 0;
}

.photo-student {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    width: 120px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-student img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
}

.menu button {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    flex: 1;
    white-space: nowrap;
    font-size: 14px;
}

.menu button:hover {
    background-color: #e0e0e0;
}

.menu-row {
    display: flex;
    width: 100%;
    gap: 10px;
}

.content-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.sidebar {
    flex: 0.5;
}

.sidebar button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.sidebar button.medium {
    font-size: 14px;
    font-weight: bold;
}

.sidebar button.small {
    font-size: 12px;
    margin-left: 30px;
    width: calc(100% - 30px)
}

.main {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .content {
    border: 1px solid black;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.menu .active {
    font-size: 18px;
}

.sidebar .active {
    font-size: 20px;
}
